{% extends "base.html" %}
{% block content %}
<h2>Parcourir les archives</h2>

{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
  <h2 id="{{year}}">{{year}}</h2>
  <ul class="post-list">
  {% for article in date_year %}
    <li>
      <a href="/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
      <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

{% endblock %}
