<h1><a href="/{{ article.url }}" rel="bookmark">
    {{ article.title|striptags }}
</a></h1>
{% if article.stats %}
<span title="~{{ article.stats['wc'] }} words" id='stats'>~{{ article.stats['read_mins'] }} min de lecture</span> &bull;
{% endif %}
<time datetime="{{ article.date }}" pubdate>Publié le
    <em>{{ article.locale_date }}</em>
</time>
{% if categories|length > 1 %}
<span class="category">dans <a href="/{{ article.category.url }}">
    {{ article.category }}</a>
</span>
{% endif %}
{% if article.translations %}
 | Traductions :
    {% for translation in article.translations %}
        <a href="/{{ translation.url }}">{{ translation.lang }}</a>
    {% endfor %}
{% endif %}
{% if article.modified %}
<br/>
<time datetime="{{ article.modified }}" pubdate>Mis à jour le
    <em>{{ article.locale_modified }}</em>
</time>
{% endif %}
{% if article.tags %}
    <ul class="tags">
    Tags:
    {% for tag in article.tags %}
        <li><a href="/{{ tag.url }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
