<!DOCTYPE html>
<!-- Tu jettes un œil au code? Je fais ça aussi de temps en temps.
Je t'offre une bière la prochaine fois que l'on se croise avec le mot de passe
"Cœur d'artichaut à la moutarde à l'ancienne" (-: -->
<html>
   <head>
       <meta charset="utf-8">
       <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
       <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <meta http-equiv="Pragma" content="no-cache" />
       <meta http-equiv="Expires" content="-1" />
       <link rel="stylesheet" href="/theme/css/main.css" type="text/css" />
       <link rel="stylesheet" href="/theme/css/friendly.css" type="text/css" />
       <link rel="stylesheet" href="/theme/css/print.css" type="text/css" media="print" />
       <link rel="stylesheet" href="/theme/tipuesearch/tipuesearch.css" type="text/css" media="screen">
       <link rel="stylesheet" href="/theme/css/fork-awesome.min.css" type="text/css"/>
       {% if FAVICO %}
       <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICO }}">
       {% endif %}
       {% if FEED_ATOM %}
       <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
       {% endif %}
   </head>
<body>
   <header>
       <h1><a href="/" title="{{ SITESUBTITLE }}">{{ SITENAME }}</a></h1>
       <nav>
            {% for title, link in MENUITEMS %}
                <a href="{{ link }}">{{ title }}</a>
            {% endfor %}
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                <a{% if cat == category %} class="active"{% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                {% endfor %}
            {% endif %}
       </nav>
   </header>

   <div id="main">
       {% block content %}{% endblock content %}
       {% block footnote %}{% endblock footnote %}
   </div>

   <nav>
    {% if LINKS %}
        {% for name, link in LINKS %}
        <a href="{{ link }}">{{ name }}</a>
            {% if not loop.last %}
                &bull;
            {% endif %}
        {% endfor %}
    {% endif %}
    </nav>

   <footer>
   {% include "footer.html" %}
   </footer>

</body>
</html>
