{% extends "base.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block content %}
<article>
    <header>
        <h1><a href="/{{ page.url }}" rel="bookmark">{{ page.title|striptags }}</a></h1>
        {% if page.translations %}
        <p>Traductions :
            {% for translation in page.translations %}
                <a href="/{{ translation.url }}">[{{ translation.lang }}]</a>
                {% if not loop.last %}
                    &bull;
                {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </header>
    <div class="body">
        {{ page.content }}
    </div>
</article>
{% endblock %}
